<div class="container">
   <h1>Ders Listesi</h1>
  <h3><b>Öğrenci No :</b>{{secOgrenci?.ogrNo}}</h3>
  <h3><b>Adı Soyadı :</b>{{secOgrenci?.ogrAdsoyad}}</h3>
</div>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="dersKodu">
    <mat-header-cell *matHeaderCellDef> Ders Kodu
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> {{kayit.dersBilgi.dersKodu}} </mat-cell>
  </ng-container>




  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="dersAdi">
      <mat-header-cell *matHeaderCellDef> Ders Adı
      </mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.dersBilgi.dersAdi}} </mat-cell>
    </ng-container>







    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="dersKredi">
        <mat-header-cell *matHeaderCellDef> Ders Kredi
        </mat-header-cell>
        <mat-cell *matCellDef="let kayit"> {{kayit.dersBilgi.dersKredi}} </mat-cell>
      </ng-container>





      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="islemler">
          <mat-header-cell *matHeaderCellDef>  İşlemler
          </mat-header-cell>
          <mat-cell *matCellDef="let kayit"> 
            
          
          <button mat-icon-button color="warn" matTooltip="Ders Kaydını Sil">
            <mat-icon aria-label="label">delete</mat-icon>
          </button>
          </mat-cell>
        </ng-container>
  


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>


