<div class="container">
  <p>&nbsp;</p>
<h1>Öğrenciler</h1>


<mat-form-field appearance="outline">
  <input matInput placeholder="Aranacak Bir Değer Giriniz" (keyup)="Filtrele($event)">
</mat-form-field>



<button mat-fab matTooltip="Öğrenci Ekle" color="primary" (click)="Ekle()">
  <mat-icon aria-label="label">add</mat-icon>
</button>




<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="ogrNo">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Öğrenci No
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> {{kayit.ogrNo}} </mat-cell>
  </ng-container>



  <ng-container matColumnDef="ogrAdsoyad">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Adı Soyadı
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> {{kayit.ogrAdsoyad}} </mat-cell>
  </ng-container>



  <ng-container matColumnDef="ogrDogTarih">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Doğum Tarihi
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> {{kayit.ogrDogTarih}} </mat-cell>
  </ng-container>



  <ng-container matColumnDef="islemler">
    <mat-header-cell *matHeaderCellDef mat-sort-header> İşlemler
    </mat-header-cell>
    <mat-cell *matCellDef="let kayit"> 

      <button mat-icon-button color="primary" matTooltip="Dersleri Lİstele" [routerLink]="['/derslistele',kayit.ogrId]" >
        <mat-icon aria-label="label" >article</mat-icon>
      </button>

      <button mat-icon-button color="primary" matTooltip="Öğrenci Düzenle" (click)="Duzenle(kayit)">
        <mat-icon aria-label="label">edit</mat-icon>
      </button>


      <button mat-icon-button color="warn" matTooltip="Öğrenci Sil" (click)="Sil(kayit)">
        <mat-icon aria-label="label">delete</mat-icon>
      </button>






















    </mat-cell>
  </ng-container>

 

 

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator 
      [pageSizeOptions]="[5, 10, 25, 100, 500]" showFirstLastButtons>
</mat-paginator>
</div>